<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.howei.mapper.WeatherMapper" >
    <resultMap id="WeaMap" type="com.howei.pojo.Weather">
        <result column="id" property="id"></result>
        <result column="ip" property="ip"></result>
        <result column="time" property="time"></result>
        <result column="temperature" property="temperature"></result>
        <result column="humidity" property="humidity"></result>
        <result column="wind_direction" property="wind_direction"></result>
        <result column="wind_speed" property="wind_speed"></result>
        <result column="rainfall" property="rainfall"></result>
        <result column="Atmospheric_pressure" property="atmospheric"></result>
        <result column="address" property="address"></result>
    </resultMap>

    <select id="getWeatherList" parameterType="java.util.HashMap" resultMap="WeaMap">
        select * from  weather_station
        order by time desc
        <if test="page!=null and pageSize!=null">
            limit ${page},${pageSize}
        </if>
    </select>
</mapper>